* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    padding: 10px 18px !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header .icon a {
    width: 42px;
    height: 42px;
    border: 2px solid #555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f42d;
    color: #fff;
    font-size: 20px;
}

header ul li a {
    color: #969696;
}

header ul li a:hover {
    color: white;
}

.hero-section {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.608), rgba(0, 0, 0, 0.534)), url(./assets/background.png);
    background-size: cover;
    background-position: center;
}

.heading {
    display: inline-block;
    width: fit-content;
    background: linear-gradient(90deg, #6b286d, #43255f);
    border: 1px solid white;
}

.skill-section {
    background: linear-gradient(90deg,
            #391657 0%,
            #2d0d44 0%,
            #26184b 35%,
            #1b1a3f 70%,
            #141421 100%);
}

.skill-section .skills {
    display: grid;
    gap: 25px;
    position: relative;
    top: -70px;
    border-radius: 20px;
    padding: 20px 40px 50px 30px;
    background: #111111;
    color: white;
}


.progress-bar {
    background: linear-gradient(45deg,
            #d13fa5,
            #9b2fc4,
            #652be8,
            #652be8);
}


.project-section {
    background-color: #111118;
}


.cards {
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.cards img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cards div {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(92, 92, 92, 0.716);
    transition: all 0.3s ease-in-out 1;
}

.cards div:hover {
    transform: translateY(-4px);
    box-shadow: 2px 2px 5px rgba(101, 101, 101);
}

.cards h4 {
    padding: 2px 10px;

}

.cards p {
    padding: 0px 10px;
}

.contact-section {
    background: linear-gradient(90deg,
            #391657 0%,
            #2d0d44 0%,
            #26184b 35%,
            #251450 35%,
            #1b1a3f 70%,
            #1a1940 70%,
            #161621 100%);
    padding-bottom: 100px;
}

.inpt {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inpt input,
.inpt textarea {
    border: 1px solid rgba(229, 229, 229, 0.896);
    background: rgba(255, 255, 255, 0.175);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
    outline: none;
}

.inpt input::placeholder,
.inpt textarea::placeholder {
    color: white;
}

.contact-section button {
    width: 25%;
    border: none;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 25px;
}
.subscribe{
     background: #111118;
}

.sub {
    background-color: white;
    position: relative;
    top: -60px;
    border-radius: 20px;
    padding: 50px 10% !important;
}

.sub input {
    border: none;
    outline: none;
    font-size: 19px;
    height: 100%;
}

.subscribe-form {
    height: 80px;
    margin: auto 0;
}

.submit-btn {
    background: linear-gradient(90deg,
            #892E7E,
            #6B2C9A,
            #4F2AA7);
    border-radius: 20px;
    padding: 20px 50px;
    font-weight: 500;
    color: white;
}

.mail {
    background: none;
    padding-left: 15px;
    font-size: 22px !important;
}

.subscribe main:nth-child(2) {
    border: 1px solid #32134d;
    border-radius: 20px;
    padding: 3px;
}

footer{
  background: #111118;
  padding: 0px 60px;
}




footer a {
    width: 42px;
    height: 42px;
    border: 2px solid #555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f42d;
    color: #fff;
    font-size: 20px;
}